{
  "gameDirectory": "C:\\Program Files\\EA Games\\FIFA 13\\Game",
  "gameVersion": "13.8.1298564",
  "cardsDllSha256": "35BDAC6BB2F37F4E3F674C5BB979BCB607FEB11CD09105631796D566590FFC06",
  "locale": "eng_us",
  "python": "python",
  "fridaSitePackages": ""
}
